<div class="messages">
  <div *ngFor="let message of messages">
    <app-messages
      [message]="message"
      (deleteEvent)="deleteMessageEvent($event)"
    ></app-messages>
  </div>
</div>

<form [formGroup]="resetPasswordForm" (ngSubmit)="passwordReset()">
  <section class="section">
    <div class="container">
      <div class="column is-4 is-centered logo">
        <img src="/assets/logo_2.svg" />
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field is-marginless ">
            <label class="label has-text-white">Reset Password</label>
            <div class="control">
              <input
                class="form-control input is-info"
                type="email"
                placeholder="Email Address"
                formControlName="userEmail"
              />
              <div class="is-size-7 has-text-danger">
                <span *ngIf="!userEmail?.valid && userEmail?.touched">
                  <span *ngIf="userEmail.errors.required">
                    Email is required
                  </span>

                  <span
                    *ngIf="userEmail.errors.pattern"
                    class="invalid-feedback"
                  >
                    Please make sure the Email is in the correct format
                  </span>
                </span>
                &nbsp;
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="button  is-fullwidth submitbutton is-rounded"
            [disabled]="!resetPasswordForm.valid"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </section>
</form>
