<form
  *ngIf="isFormVisible"
  [formGroup]="updatePasswordForm"
  (ngSubmit)="submitForm()"
>
  <section class="section">
    <div class="container">
      <div class="column is-offset-4 is-4 is-centered logo">
        <img src="/assets/logo_2.svg" />
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="field">
            <label class="label has-text-white">Enter New Password</label>
            <div class="control">
              <input
                class="form-control input is-info"
                type="password"
                placeholder="New Password"
                formControlName="newPassword"
              />
              <div
                class="is-size-7 has-text-danger"
                *ngIf="!newPassword.valid && newPassword.touched"
              >
                <span *ngIf="newPassword.errors?.required">
                  Password is required
                </span>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label has-text-white">Confirm New Password</label>
            <div class="control">
              <input
                class="form-control input is-info"
                type="password"
                placeholder="Confirm New Password"
                formControlName="confirmNewPassword"
              />
              <div
                class="is-size-7 has-text-danger"
                *ngIf="
                  !confirmNewPassword.valid &&
                  (confirmNewPassword.touched || confirmNewPassword.dirty)
                "
              >
                <span *ngIf="confirmNewPassword.errors?.required">
                  Password is required
                </span>

                <span
                  class="has-text-danger is-size-7"
                  *ngIf="
                    !confirmNewPassword.errors?.required &&
                    confirmNewPassword.errors?.notSame
                  "
                >
                  Passwords do not match
                </span>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="button  is-fullwidth submitbutton is-rounded submitButton"
            [disabled]="!updatePasswordForm?.valid"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
  </section>
</form>
